<div class="container">
    <span class="card-title">My Profile</span>
    <form class="form">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="name">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput name="cpf" [(ngModel)]="cpf" mask="000.000.000-00">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput name="phone" [(ngModel)]="phone" mask="(00) 00000-0000">
        </mat-form-field>

        <div class="passwords">
            <mat-form-field class="form-field" style="width: 100%" appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput name="oldPassword" type="password" [(ngModel)]="oldPassword">
            </mat-form-field>
            <mat-form-field class="form-field" style="width: 100%; margin-left: 10px;" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput name="newPassword" type="password" [(ngModel)]="newPassword">
            </mat-form-field>
        </div>
        <button class="button" style="width: 80%;" (click)="changePassword()">Change Password</button>



        <div class="buttons">
            <button class="button" (click)="closeDialog()">Cancel</button>
            <button class="button" (click)="updateUser()">Update User</button>
        </div>

    </form>
</div>